///-------------------------- Button -------------------------
/// BUTTON - component styles
///-------------------------------------------------------------
@use '../1-settings/settings' as var;
@use '../2-tools/mixins-typography' as type;


@mixin button-default {
	align-items: center;
	border-radius: var.$border-radius;
	border: none;
	color: var.$white;
	cursor: pointer;
	display: flex;
	font-family: var.$font-family;
	font-weight: 300;
	line-height: 1;
	padding: var.$space-sm;
	text-align: center;
	text-decoration: none;
	transition: var.$transition-func-ease-out-cubic;
	white-space: nowrap;
	width: auto;
	
	-webkit-appearance: none;
	-moz-appearance: none;

	&:hover,
	&:focus {
		background-color: var.$white;
		border-color: var.$white;
		color: var.$black;
	}
}


.button {
	@include button-default;
	@include type.font-size-6;

	&--primary {
		background-color: var.$primary-color;
	}

	&--secondary {
		background-color: var.$secondary-color;
		color: var.$dark;

		&:hover,
		&:focus {
			background-color: var.$primary-color;
			color: var.$white;
		}
	}

	&--icon {
		@include type.font-size-6;
		
		padding: var.$space-xs;

		&:hover,
		&:focus {
			background-color: var.$primary-color;
			color: var.$white;
		}
	}

 	&--plain {
		background-color: transparent;
		color: var.$dark;
	}

	&--sm {
		padding: var.$space-xs;
	}
}
