///-------------------------- Header -------------------------
/// HEADER - component styles
///-------------------------------------------------------------

@use '../1-settings/settings' as var;

.header {
	align-items: center;
	background-color: var.$black;
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 100%;

	.logo {
		color: var.$white;
		align-items: center;
		display: flex;

		&__icon {
			color: var.$primary-color;
		}
	}

	&__identity {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	&--sticky {
		box-shadow: var.$shadow;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: var.$z-index-sticky;
	}

	&--static {
		position: static;
	}
}
