///-------------------------- Main page -------------------------
/// MAIN PAGE - module styles
///-------------------------------------------------------------
@use '../1-settings/settings' as var;
@use '../2-tools/mixins-grid' as grid;
@use '../1-settings/functions' as func;


.main-page {
	@include grid.grid-by-areas(var.$dashboard-grid-area);
	margin-top: func.remCalc(64);
	grid-template-columns: var.$dashboard-template-columns;
	grid-template-rows: var.$dashboard-template-rows;
	
	height: 100vh;
  width: 100vw;


	&__header {
		grid-area: header;
	}

	&__nav {
		grid-area: nav;
	}

	&__content {
		grid-area: content;
		margin-inline: auto;
		width: min(100vw - 24.8rem, var.$container-fluid-max-width);
	}

	&__footer {
		grid-area: footer;
	}
}
