///-------------------------- Section list -------------------------
/// SECTION LIST - module styles
///-------------------------------------------------------------
@use '../1-settings/settings' as var;
@use '../1-settings/functions' as func;
@use '../2-tools/mixins-typography' as typo;

@mixin section-list-base {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 100%;
}

.section-list {
	@include section-list-base;

	&__header {
		@include typo.text-headline;
		@include typo.font-size-3;

		color: var.$light;
	}

	&__content {
		min-height: func.remCalc(200);
	}

}
