///-------------------------- TYPOGRAPHY -----------------------
/// TYPOGRAPHY - mixins
///-------------------------------------------------------------

@use './settings' as set;
@use './tools' as tools;

/*
	Define text style base
*/
@mixin text-base {
	font-family: set.$font-base-family;
	@include tools.$responsive-property('font-size', set.$font-size-base);
	font-weight: 300;
	line-height: 1.5;
}

/*
	Define text headline based
*/
@mixin text-headline {
	font-family: set.$font-headings-family;
	font-weight: 600;
	line-height: 1.1;
	margin-bottom: tools.$remCalc(8);
	margin-top: tools.$remCalc(42);
	color: set.$black;
	letter-spacing: tools.$remCalc(0.5);

	&:first-child {
		margin-top: 0;
	}
}

/*
	Define font sizes based on responsive map.
*/
@mixin font-size-1($font-size-map) {
	@include tools.$responsive-property('font-size', set.$font-size-1);
}

@mixin font-size-2($font-size-map) {
	@include tools.$responsive-property('font-size', set.$font-size-2);
}

@mixin font-size-3($font-size-map) {
	@include tools.$responsive-property('font-size', set.$font-size-3);
}

@mixin font-size-4($font-size-map) {
	@include tools.$responsive-property('font-size', set.$font-size-4);
}

@mixin font-size-5($font-size-map) {
	@include tools.$responsive-property('font-size', set.$font-size-5);
}

@mixin font-size-6($font-size-map) {
	@include tools.$responsive-property('font-size', set.$font-size-6);
}
