///-------------------------- SPACING -------------------------
/// SPACING - mixins
///-------------------------------------------------------------
@use './settings' as set;

/*
	Define margin y

	Params:
		- value {number}
*/
@mixin my($val) {
	margin-top: set.remCalc($val);
	margin-bottom: set.remCalc($val);
}

/*
	Define margin x

	Params:
		- value {number}
*/
@mixin mx($val) {
	margin-left: set.remCalc($val);
	margin-right: set.remCalc($val);
}

/*
	Define padding y

	Params:
		- value {number}
*/
@mixin py($val) {
	padding-top: set.remCalc($val);
	padding-bottom: set.remCalc($val);
}

/*
	Define padding x

	Params:
		- value {number}
*/
@mixin px($val) {
	padding-left: set.remCalc($val);
	padding-right: set.remCalc($val);
}
