///-------------------------- UTILITIES -------------------------
/// UTILITIES  - mixins
///-------------------------------------------------------------
@use '../1-settings/functions' as func;
@use './mixins-mq' as mq;

/*
	Define responsive property.
	Apply the property, cycling values in map made up of (breakpoint:value) pairs.

	Params:
		- property name
		- map of values

	Note: can be used to define responsive font-size, margin, padding, etc.
	Example: @include responsive-property('font-size', (sm: 1.2rem, md: 1.4rem, lg: 1.6rem));
*/
@mixin responsive-property($property, $values-map) {
	@each $breakpoint, $value in $values-map {
		@if $breakpoint == 'sm' {
			#{$property}: $value;
		} @else {
			@include mq.mq($breakpoint) {
				#{$property}: $value;
			}
		}
	}
}

/*
	Define background image in size cover.

		Params:
			- image url
*/
@mixin bg-cover($image: null) {
	padding-bottom: 10%;
	background-repeat: no-repeat;
	@if $image != null {
		background-image: url($image);
	}
}
