///-------------------------- TYPOGRAPHY -----------------------
/// TYPOGRAPHY - mixins
///-------------------------------------------------------------

@use "../1-settings/functions" as func;
@use "../1-settings/settings" as var;
@use "./mixins-utilities" as util;

/*
	Define text style base
*/
@mixin text-base {
	@include util.responsive-property("font-size", var.$font-size-base);
	
	font-family: var.$font-base-family;
	font-weight: 300;
	line-height: 1.5;
}

/*
	Define text headline based
*/
@mixin text-headline {
	font-family: var.$font-headings-family;
	font-weight: 600;
	line-height: 1.1;
	margin-bottom: func.remCalc(8);
	margin-top: func.remCalc(42);
	color: var.$black;
	letter-spacing: func.remCalc(0.5);

	&:first-child {
		margin-top: 0;
	}
}


/*
	Define font sizes based on responsive map.
*/
@mixin font-size-1() {
	@include util.responsive-property('font-size', var.$font-size-1);
}

@mixin font-size-2() {
	@include util.responsive-property('font-size', var.$font-size-2);
}

@mixin font-size-3() {
	@include util.responsive-property('font-size', var.$font-size-3);
}

@mixin font-size-4() {
	@include util.responsive-property('font-size', var.$font-size-4);
}

@mixin font-size-5() {
	@include util.responsive-property('font-size', var.$font-size-5);
}

@mixin font-size-6() {
	@include util.responsive-property('font-size', var.$font-size-6);
}
